.Rproj.user/
.Rhistory
.RData
.Ruserdata
.Renviron
renv/library/
renv/staging/
!renv.lock
_targets/
tcc-book/_book/
_freeze/
.quarto/
*.html
!README.html
!docs/**/*.html
!docs/*.html
_backup/
README_files/
app/rsconnect/
.DS_Store
Thumbs.db
